extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.header DOerBox
      .ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='text',name='email',placeholder='邮箱')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password',name='password',placeholder='密码')
          .ui.fluid.large.teal.submit.button 登录
        .ui.error.message
