doctype html
html
    head
        title DOerBox
        link(rel='stylesheet', href='/semantic/dist/semantic.css')
        link(rel='stylesheet', href='/styles/style.css')
        script(src='/jquery/dist/jquery.js')
        script(src='/semantic/dist/semantic.js')
        block head
    body
        block content
    block foot
