doctype html
html
  head
    title DOerBox
    link(rel='stylesheet', href='/semantic/dist/semantic.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(type='text/javascript', href='/semantic/dist/semantic.js')
  body
    block content
