extends layout
block head
block content
  #content.ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.header DOerBox
      .ui.large.form
        .ui.stacked.segment
          .ui.fluid.large.teal.submit.button.sign_in HOME

block foot
