doctype html
html
  head
    title DOerBox
    link(rel='stylesheet', href='/semantic/dist/semantic.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/semantic/dist/semantic.js')
    block head
  body
    .ui.top.attached.demo.menu
      a.item
        i.sidebar.icon
        |Menu
    .ui.bottom.attached.segment.pushable
      .ui.inverted.labeled.icon.left.inline.vertical.sidebar.menu
        a.item
          i.home.icon
          |Home
        a.item
          i.block.layout.icon
          |Topics
        a.item
          i.smile.icon
          |Friends
        a.item
          i.calendar.icon
          |History
      .pusher
    block content
  block foot
  script(src='/scripts/home.pack.js')
